<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1><RP></RP>Order summary</h1>

  <div>
    <div>Restaurant: {{res_name}}</div>

    <div>User id: {{uid}}</div>

    <div>Delivery address:  {{o_add}}</div>

    <div>Name: {{o_name}}</div>

    <div>Phone number: {{o_phone}}</div>

    <div>Tip: {{tip}}</div>

    <div>Payment method: {{payment}}</div>

    <div>Order id: {{oid}}</div>

    <div>Payment method: {{payment}}</div>

    <div>Delivery guy: {{dg_name}}</div>

    <div>Delivery guy phone number: {{dg_phone}}</div>

    <div>Total price: {{total}}</div>

  </div>

</body>


</html>
