<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Submit Reservation</h1>

  <div>
<form method="POST" action="/reservation_summary">
<select name="rid">
      {% for n in data%}
      <option value="{{n[1]}}"> {{n[0]}} </option>
      {% endfor %}
    </select>
<p>Time of reservation (e.g., 2019-3-18 17:30:00): <input type="text" name="time" /> </p>
<p>Number of guests: <input type="text" name="num_guests" /> </p>
<p>User id (from 1 to {{max_uid}}): <input type="text" name="userid" /> </p>

    <p><input type="submit" value="Submit"></p>
</form>
  </div>

<p><a href="/">Go back</a></p>

</body>


</html>
